nombre=Misty
simbolo={
hojaDeViaje=[PuebloPaleta,CiudadVerde,CiudadPlateada,CiudadAzafran,CiudadCeleste,CiudadFucsia,IslaCanela,PuebloLavanda]
obj[PuebloPaleta]=[B,C,B]
obj[CiudadVerde]=[B,P]
obj[CiudadPlateada]=[K]
obj[CiudadAzafran]=[C,O,P]
obj[CiudadCeleste]=[B]
obj[CiudadFucsia]=[S,P,O,B]
obj[IslaCanela]=[B,C,O,P,C,B,P,C]
obj[PuebloLavanda]=[C,O,C]
vidas=9
reintentos=0